<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/7eaa07bb-4749-469b-b2b5-099fae76d39d/resourceGroups/Fall2024-Assignment1-knlim-ResourceGroup/providers/Microsoft.Web/sites/Fall2024-Assignment1-knlim</ResourceId>
    <ResourceGroup>Fall2024-Assignment1-knlim-ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://fall2024-assignment1-knlim.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://fall2024-assignment1-knlim.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$Fall2024-Assignment1-knlim</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>